:root {
    --display: flex;
    --column: column;
    --center: center;

}

header {
    display: var(--display);
    flex-direction: var(--column);
    align-items: var(--center);
    background-color: #A4A4A4;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
    
   
}
h1 {
    font-size: 50px;
    padding: 20px;

}


aside {
    display: var(--display);
    flex-direction: column;
    align-items: var(--center);
    float: left;
    background-color: #A4A4A4;
    margin-top: 10px;
}
main {
    display: var(--display);
}
.currentWeather {
    display: var(--display);
    flex-direction: var(--column);
    align-items: var(--center);
    margin-top: 10px;
   
}
.iconSizing {
    width: 80x;
    height: 80px;
}
/* colors for uvIndex*/
.favorable {
    background-color: lightgreen;
}
.moderate {
    background-color: yellow;
}
.severe {
    background-color: red;
}
.row {
    justify-content: center;
}
.card-body {
    background-color: #BCC4CC;
}
.name {
    font-size: 25px;
    
    background-color: #A4A4A4;
}
.space {
    margin: 0 5px;
    background-color: #A4A4A4;
}
.hidden {
    visibility: hidden;
}
span {
    border-radius: 5px;
}