:root {
    --display: flex;
    --column: column;
    --center: center;
    

}
header {
    display: var(--display);
    flex-direction: var(--column);
    align-items: var(--center);
    background-color: #B9C2CA
}

h1 {
    font-size: 50px;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
}
aside {
    display: var(--display);
    flex-direction: column;
    align-items: var(--center);
    float: left;
    background-color: #B9C2CA;
    margin-top: 10px;
}
h2{
   
    font-family: Georgia, 'Times New Roman', Times, serif;
}
main {
    display: var(--display);
}

.currentWeather {
    display: var(--display);
    flex-direction: var(--column);
    align-items: var(--center);
    margin-top: 10px;
   
}

.card-header{
    background-color: #B9C2CA;
    padding: 20px;
}


.row {
    justify-content: center;
}

.name {
    font-size: 25px;
  
   
}
.card-body {
    background-color:#E8EBED;
}
.space {
    margin: 0 5px;
    background-color: #B9C2CA;
}